<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>{% block title %} {% endblock %}</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/style.css' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-mdb-target="#navbarLeftAlignExample"
                data-mdb-toggle="collapse"
                type="button"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lead_list' %}">Leads</a>
                </li>
                {% if request.user.is_organisor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agent_list' %}" tabindex="-1">Agents</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Category</a>
                </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="" tabindex="-1">Logged in as {{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Logout</a>
                </li>


                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" tabindex="-1">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}" tabindex="-1">SignUp</a>
                </li>
                {% endif %}
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
{% block content %}

{% endblock %}
</body>
</html>