{% extends "base.html" %}
{% block title %} Lead : Delete {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<a href="{% url 'lead_list' %}" class="btn btn-info btn-sm m-1">Go back</a>
<div class="m-5">
    <h1>Are you sure you want to delete lead -  {{ lead.first_name }} {{ lead.last_name }}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="delete">
    </form>
</div>

{% endblock %}