{% extends "base.html" %}
{% block title %} Lead : {{lead}} {% endblock %}
{% block content %}
<a href="{% url 'lead_list' %}" class="btn btn-info btn-sm m-1">Go back</a>

<h1 class="m-5 text-muted">
    Lead detail
</h1>
<div class="jumbotron jumbotron-fluid m-5">
    <div class="container">
        <h1 class="display-4">{{ lead }}</h1>
        <p class="lead">{{ lead.age }}</p>
        <hr class="my-4">
        <p>Agent : {{ lead.agent }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'lead_update' lead.pk%}" role="button">Update</a>
            <a class="btn btn-danger btn-lg" href="{% url 'lead_delete' lead.pk%}" role="button">Delete</a>
        </p></div>
</div>


{% endblock %}